onlyBuiltDependencies[]="@rocicorp/zero-sqlite3"
onlyBuiltDependencies[]="electron"
onlyBuiltDependencies[]="electron-winstaller"
onlyBuiltDependencies[]="esbuild"
onlyBuiltDependencies[]="protobufjs"
